.app {
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: 4rem auto;
  width: 100vw;
  height: 100vh;
}

/* Sections styles */

.content-section {
  grid-row: 2/3;
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.hero-section {
  grid-row: 1/2;
  grid-column: 1/2;
}

.resume-section {
  grid-row: 1/2;
  grid-column: 1/2;
}

.portfolio-section {
  grid-row: 1/2;
  grid-column: 1/2;
}

.about-section {
  grid-row: 1/2;
  grid-column: 1/2;
}

.contacts-section {
  grid-row: 1/2;
  grid-column: 1/2;
}

/* menu styles  */

.main-menu {
  background-color: black;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.side-menu {
  background-color: black;
  grid-row: 2/-1;
  grid-column: 1/2;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu-item:not(:last-child) {
  margin-right: 2rem;
}

/* navigation styles */

.nav-list {
  display: flex;
  list-style: none;
}
