.curtain-container {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 999;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
}

.curtain {
  width: 0;
  height: 100%;
  background-color: rgba(0, 0, 0); /* Semi-transparent black overlay */
  transition: width 1s; /* Adjust the duration as needed */
}

.c-1 {
  grid-column: 1/2;
  grid-row: 1/-1;
}

.c-2 {
  grid-column: 2/3;
}

.c-3 {
  grid-column: 3/4;
}

.c-4 {
  grid-column: 4/-1;
}

.curtain.active {
  width: 100%;
}
