.fill-meter {
  margin-left: 1rem;
  width: 80%;
  height: 5px;
  border-radius: 5px;
}

.fill-meter-bg-red {
  background-color: #a9c6c9;
}

.fill-bar {
  height: 100%;
  border-radius: 5px;
}

.fill-bar-bg-green {
  background-color: #0b799d;
}

.fillPercentage-50 {
  width: 50%;
}

.fillPercentage-60 {
  width: 60%;
}

.fillPercentage-70 {
  width: 70%;
}

.fillPercentage-80 {
  width: 80%;
}

.fillPercentage-90 {
  width: 90%;
}

.fillPercentage-1000 {
  width: 100%;
}
