.main-menu {
  background-color: #26262e;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu--nav {
  margin-left: auto;
  transform: translateX(35%);
}

.main-menu-item:not(:last-child) {
  margin-right: 2rem;
}
