.main-menu {
  background-color: #17171c;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 6rem;
  z-index: 999;
}

@media only screen and (max-width: 768px) {
  .main-menu {
    height: 3.5rem;
  }
}

.main-menu--nav {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: end;
}

@media only screen and (max-width: 500px) {
  .main-menu--nav {
    align-self: center;
  }
}

.main-menu-item {
  width: 5rem;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .main-menu-item {
    width: 4rem;
  }
}

.container-logo {
  min-width: 4rem;
  width: 5rem;
  height: 100%;
  background-color: #0f3559;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: white;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .container-logo {
    width: 4rem;
  }
  .logo {
    font-size: 2rem;
  }
}
