.main-menu {
  background-color: #17171c;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  align-items: center;
  justify-content: space-between;
}

.main-menu--nav {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: end;
}

.main-menu-item {
  width: 5rem;
  text-align: center;
}

.container-logo {
  min-width: 5rem;
  width: 5rem;
  height: 100%;
  background-color: #0f3559;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: white;
  font-size: 3rem;
}
