.curtain-container {
  grid-row: 2/3;
  grid-column: 1/2;
  z-index: 999;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  .curtain-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .curtain-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .curtain-container {
    grid-template-columns: 1fr;
  }
}

.curtain {
  width: 0;
  height: 100%;
  background-color: #26262e;
  transition: width 1s;
}

.c-1 {
  grid-column: 1/2;
}

.c-2 {
  grid-column: 2/3;
}

.c-3 {
  grid-column: 3/4;
}

.c-4 {
  grid-column: 4/-1;
}

.curtain.active {
  width: 100%;
}
