.profesionalSkillsCard {
  margin: 1rem;
  border-radius: 5%;
  background-color: #08233c;
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: repeat(2, 5rem);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 18rem;
  width: 41rem;
  color: #cce5e7;
  letter-spacing: 1px;
}

.skill-title {
  font-size: 2rem;
  margin-left: 2rem;
  color: #cce5e7;
  letter-spacing: 2px;
}
