.skill-title {
  font-size: 2rem;
  margin: 2rem 0 1rem 2rem;
  color: #cce5e7;
  letter-spacing: 2px;
  width: 25rem;
}

.skill-category {
  margin: 1rem;
}

@media only screen and (max-width: 350px) {
  .skill-category {
    margin: 0.7rem;
  }
}
