:root {
  --extra-small: 600px;
  --small: 768px;
  --medium: 992px;
  --large: 1200px;
}

.app {
  width: 100%;
  height: 100vh;
}

.grid-row-2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5rem auto;
}
