.contact-section {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
  gap: 7rem;
  height: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form-container {
  min-width: 25%;
  height: 60%;
  margin: 2rem auto;
  padding: 2rem 2rem;
  border-radius: 5%;
  background: linear-gradient(to bottom, #6b6b6b, #0f3559);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  color: #cce5e7;
  font-size: 1.5rem;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
}

.contact-form-container label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.contact-form-container input {
  width: 90%;
  margin-bottom: 1.5rem;
}
.contact-form-container textarea {
  margin-bottom: 1.5rem;
  width: 90%;
}

.contact-form-container .btn {
  align-self: flex-end;
}

.contact-container-title {
  font-size: 8rem;
  font-weight: 700;
  color: #cce5e7;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  opacity: 0.2;
}

.contact-container-intro {
  font-size: 1.5rem;
  font-weight: 700;
  color: #a8dae0;
  margin: 1.5rem;
  text-align: center;
}
