.contact-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
  justify-content: center;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
  height: 100%;
  width: 100%;
  justify-items: center;
}

.contact-container-intro {
  font-size: 2rem;
  font-weight: 700;
  color: #a8dae0;
  text-align: center;
  min-width: 25rem;
  width: 60%;
  margin-bottom: 4rem;
}

.contact-title {
  font-size: 8rem;
  font-weight: 700;
  color: #cce5e7;
  text-transform: uppercase;
  opacity: 0.2;
  margin: 2rem 0;
}

@media only screen and (max-width: 700px) {
  .contact-container-intro {
    width: 70%;
  }

  .contact-title {
    font-size: 6rem;
  }

  .contact-container-intro {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 480px) {
  .contact-container-intro {
    width: 95%;
  }
  .contact-title {
    font-size: 5rem;
  }

  .contact-container-intro {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 400px) {
  .contact-container-intro {
    font-size: 1.5rem;
  }
}

.contact-form-container {
  background: linear-gradient(to bottom, #6b6b6b, #184269);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  color: #cce5e7;
  font-size: 1.5rem;
  max-width: 90%;
  min-width: 26rem;
  width: 30%;
  height: 42rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
  .contact-form-container {
    min-width: 35rem;
  }
}

.contact-form-container label {
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.contact-form-container input {
  height: 3.5rem;
  margin-bottom: 2.5rem;
  font-size: 1.6rem;
}

.contact-form {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2rem 2rem;
}

.contact-form-container textarea {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 12rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 700px) {
  .contact-form-container label {
    font-size: 1.6rem;
  }
  .contact-form-container input {
    font-size: 1.4rem;
  }

  .contact-form-container textarea {
    font-size: 1.4rem;
  }
}

.contact-form-container form .btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error-text,
.error-text-textarea {
  position: absolute;
  top: 75%;
  font-size: 1.4rem;
  padding-left: 2rem;
  color: red;
  font-weight: 700;
}

.error-text-textarea {
  top: 95%;
}

.form-labels {
  display: inline-block;
}
