.social-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding-right: 2rem;
  margin-left: auto;
}

.social-nav-btn {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  background: #0f3559;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.social-nav-btn:not(:last-child) {
  margin-right: 1rem;
}
