.btn {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  background: #0f3559;
  padding: 1rem 1rem;
  border-radius: 5px;
}

.btn-placement-right {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
}
