.btn {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  background: #0f3559;
  padding: 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-placement-right {
  display: inline-block;
  width: 20%;
  margin: 0 auto;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: transparent;
}

.slidedown-menu-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
