.btn {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  background: #0f3559;
  padding: 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.about-me-btn {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  background: #0f3559;
  padding: 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 500px) {
  .about-me-btn {
    width: 25%;
  }
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: transparent;
}

.slidedown-menu-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.main-menu-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 2.6rem;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .main-menu-btn {
    font-size: 2rem;
  }
}

.main-menu-btn::after {
  content: attr(data-alt);
  position: absolute;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.main-menu-btn:hover::after {
  visibility: visible;
  opacity: 1;
}

.main-menu-btn .main-menu-btn:link,
.main-menu-btn:hover {
  transform: translateY(-2px);
}

.main-menu-btn:active {
  transform: translateY(0);
}
