.project-card {
  margin: 2rem;
  border-radius: 5%;
  background-color: #cce5e7;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 30rem;
  width: 30rem;
}

.profesionalSkillsCard {
  margin: 2rem;
  border-radius: 5%;
  background-color: #cce5e7;
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: repeat(2, 5rem);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 18rem;
  width: 41rem;
}

.personalSkillsCard {
  margin: 2rem;
  border-radius: 5%;
  background-color: #cce5e7;
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: repeat(2, 5rem);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 18rem;
  width: 41rem;
}

.card-title {
  margin: 1rem auto;
}

.card-title-skill {
  margin: 2rem 0 1rem 2rem;
}
