.project-card {
  margin: 2rem;
  border-radius: 5%;
  background-color: #08233c;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  color: #a9c6c9;
}

.contacts-card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 1rem;
  background-color: #0f3559;
  color: white;
  width: 15rem;
  height: 10rem;
  border-radius: 5%;
  font-size: 1.5rem;
}

.profesionalSkillsCard {
  margin: 1rem;
  border-radius: 5%;
  background-color: #08233c;
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: repeat(2, 5rem);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 18rem;
  width: 41rem;
  color: #a9c6c9;
  letter-spacing: 1px;
}

.skill-title {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: #a9c6c9;
  letter-spacing: 2px;
}

.personalSkillsCard {
  margin: 1rem;
  border-radius: 5%;
  background-color: #08233c;
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: repeat(2, 5rem);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 18rem;
  width: 41rem;
  color: #a9c6c9;
  letter-spacing: 1px;
}

.card-title {
  margin: 1rem auto;
  letter-spacing: 1px;
}

.card-title-skill {
  margin: 2rem 0 1rem 2rem;
}

.Linked-card,
.GitHub-card {
  align-self: start;
}
