.project-card {
  margin: 2rem;
  background-color: #08233c;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in;
}

@media only screen and (min-width: 850px) {
  .project-card {
    transition: all 0.3s ease-in;
  }
}

@media only screen and (max-width: 300px) {
  .project-card {
    height: 26rem;
    width: 24rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 850px) {
  .project-card:hover {
    transform: scale(1.1);
  }
}

.contacts-card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-left: 1rem;
  background-color: #0f3559;
  color: white;
  width: 15rem;
  height: 10rem;
  border-radius: 5%;
  font-size: 1.5rem;
}

.prj-card-title {
  margin: 1rem auto;
  letter-spacing: 1px;
  font-size: 2rem;
}

@media only screen and (max-width: 300px) {
  .prj-card-title {
    font-size: 1.7rem;
  }
}

.skillsCard {
  background-color: #08233c;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 80%;
  width: 100%;
  color: #cce5e7;
  padding: 0.7rem;
}

.card-title-skill {
  font-size: 1.7rem;
  margin-left: 1.2rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 350px) {
  .card-title-skill {
    font-size: 1.4rem;
  }
}

.Linked-card,
.GitHub-card {
  align-self: start;
}
