.project-card {
  overflow: hidden;
  margin: 2rem auto;
  border-radius: 5%;
  background: linear-gradient(to bottom, #6b6b6b, #0f3559);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: 30rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
}

.card-title {
  margin: 1rem auto;
}
