.modal-container-inner,
.modal-container-outer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 35%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 35rem;
}

.github-link,
.live-demo-link {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.modal-container-outer {
  background-color: #fff;
  border-radius: 5%;
  overflow: auto;
}

.modal-container-inner {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  letter-spacing: 0.1rem;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 29, 38, 0.8);
  filter: blur(5px);
  z-index: 10;
}

.modal-project-title {
  font-size: 4rem;
  margin: 3rem auto;
}

.modal-project-description {
  font-size: 1.4rem;
  padding: 2rem;
  padding-top: 1rem;
  letter-spacing: 0.1rem;
}

.modal-h3 {
  align-self: flex-start;
  margin-left: 2rem;
}

.modal-link-btn {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 1rem;
}

.modal-feature {
  margin: 1.2rem auto;
  padding: 0 1.5rem;
  font-size: 1.4rem;
}

/* .modal-image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image img {
  height: 100%;
  width: 50%;
} */
