.modal-container {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.modal-background {
  position: fixed;
  top: 6.8rem;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(16, 29, 38, 0.8);
  filter: blur(5px);
  z-index: 10;
}
