.modal-container {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 30%;
  height: 60%;
  border-radius: 5%;
  overflow: hidden;
}

.modal-background {
  position: fixed;
  top: 6.8rem;
  left: 0;
  width: 100%;
  height: 90%;
  background-color: rgba(16, 29, 38, 0.8);
  filter: blur(5px);
  z-index: 10;
}

.modal-image {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-image img {
  max-width: 100%;
  height: auto;
}
