.modal-container-inner,
.modal-container-outer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 65%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .modal-container-inner,
  .modal-container-outer {
    width: 85%;
    height: 75%;
  }
}

@media only screen and (min-width: 800px) {
  .modal-container-inner,
  .modal-container-outer {
    width: 55%;
    height: 65%;
  }
}

@media only screen and (min-width: 1100px) {
  .modal-container-inner,
  .modal-container-outer {
    width: 45%;
    height: 65%;
  }
}

.github-link,
.live-demo-link {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}

.modal-container-outer {
  background-color: #fff;
  border-radius: 5%;
  overflow: auto;
}

.modal-container-inner {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  letter-spacing: 0.1rem;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 29, 38, 0.8);
  filter: blur(5px);
  z-index: 10;
}

.modal-project-title {
  font-size: 4rem;
  margin: 3rem auto;
}

@media only screen and (max-width: 500px) {
  .modal-project-title {
    font-size: 2.2rem;
    margin: 3rem auto;
  }
}

.modal-project-description {
  font-size: 1.8rem;
  padding: 2rem;
  padding-top: 1rem;
  letter-spacing: 0.1rem;
}

@media only screen and (max-width: 500px) {
  .modal-project-description {
    font-size: 1.4rem;
  }
}

.modal-h3 {
  align-self: flex-start;
  margin-left: 2rem;
  font-size: 2rem;
}

@media only screen and (max-width: 500px) {
  .modal-h3 {
    font-size: 1.5rem;
  }
}

.modal-link-btn {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 1rem;
}

.modal-feature {
  margin: 1.2rem auto;
  padding: 0 1.5rem;
  font-size: 1.8rem;
}

@media only screen and (max-width: 500px) {
  .modal-feature {
    font-size: 1.4rem;
  }
}
