/* section styles */

.hero-section {
  background-image: url("../../../data/images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.hero-section::before {
  content: "";
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgba(0, 0, 255, 0.2);
  filter: blur(5px);
}

/* hero element styles */
.presentational-info {
  color: whitesmoke;
  margin: 15rem auto;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: center;
  z-index: 10;
}

@media only screen and (max-width: 900px) {
  .presentational-info {
    margin: 6rem auto;
  }
}

@media only screen and (max-width: 900px) {
  .presentational-info {
    margin: 6rem auto;
  }
}

@media only screen and (max-width: 900px) {
  .presentational-info {
    margin: 6rem auto;
  }
}

@media only screen and (max-width: 900px) {
  .presentational-info {
    margin: 6rem auto;
  }
}

.hero-name {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.hero-intro {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 2.5rem;
  line-height: 1.5;
}

.welcome {
  display: inline-block;
  margin-bottom: 1rem;
}

.welcome-text {
  margin-bottom: 1rem;
  font-size: 2rem;
}

@media only screen and (max-width: 900px) {
  .hero-name {
    font-size: 6rem;
  }

  .hero-title {
    font-size: 3.5rem;
  }

  .hero-intro {
    font-size: 1.8rem;
  }

  .welcome-text {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 720px) {
  .hero-name {
    font-size: 6rem;
  }

  .hero-title {
    font-size: 3.5rem;
  }

  .hero-intro {
    font-size: 1.6rem;
  }

  .welcome-text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .hero-name {
    font-size: 5rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-intro {
    font-size: 1.6rem;
  }

  .welcome-text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .hero-name {
    font-size: 3rem;
  }

  .hero-title {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  .hero-intro {
    font-size: 1.6rem;
    margin: 0 2rem;
  }

  .welcome-text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 350px) {
  .hero-name {
    font-size: 2.8rem;
  }

  .hero-title {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }

  .hero-intro {
    font-size: 1.6rem;
    margin: 0 2rem;
  }

  .welcome-text {
    font-size: 1.5rem;
  }
}
