/* section styles */

.hero-section {
  grid-row: 1/2;
  grid-column: 1/2;
  background-image: url("../../../data/hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.hero-section::before {
  content: "";
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgba(0, 0, 255, 0.2);
  filter: blur(5px);
}

/* hero element styles */
.presentational-info {
  font-size: 4rem;
  color: whitesmoke;
  margin: 15rem auto;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 999;
  text-align: center;
}
