.about-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 65rem));
  grid-template-rows: auto;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
}

.about-me {
  width: 100%;
  height: 88%;
  margin-top: 1rem;
  border-radius: 2%;
  background: linear-gradient(to bottom, #6b6b6b, #0f3559);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.about-me-title {
  font-size: 8rem;
  font-weight: 700;
  color: #cce5e7;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  opacity: 0.2;
}

.about-me-intro {
  font-size: 2.5rem;
  font-weight: 700;
  color: #a8dae0;
  margin: 1.5rem;
}

.about-me-description {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(238, 228, 228);
  margin: 1.5rem;
  letter-spacing: 1.2px;
  line-height: 1.2;
}

.about-me-content {
  margin-bottom: 2rem;
}

.profile-img {
  width: 18rem;
  height: 16rem;
  margin: 1rem auto 1.5rem auto;
  border-radius: 5%;
  background-image: url("../../../data/images/1000004764.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.professional-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 75rem));
  grid-column: auto;
}

.profesional {
  justify-self: center;
}

.personal {
  justify-self: center;
}
