.about-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 900px) {
  .about-section {
    grid-template-columns: 1fr;
  }
}

.about-me {
  margin: 2rem;
  margin-top: 6rem;
  background: linear-gradient(to bottom, #6b6b6b, #0f3559);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  height: min-content;
  width: 70%;
  min-width: 50rem;
  padding: 2rem;
  justify-self: right;
}

@media only screen and (max-width: 900px) {
  .about-me {
    justify-self: center;
    width: 90%;
    min-width: min-content;
  }
}

.about-me-title {
  font-size: 7rem;
  font-weight: 700;
  color: #cce5e7;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  opacity: 0.2;
}

@media only screen and (max-width: 750px) {
  .about-me-title {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 400px) {
  .about-me-title {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 300px) {
  .about-me-title {
    font-size: 4rem;
  }
}

.about-me-intro {
  font-size: 2.5rem;
  font-weight: 700;
  color: #a8dae0;
  margin: 1.5rem;
  margin-top: 3.5rem;
}

@media only screen and (max-width: 600px) {
  .about-me-intro {
    font-size: 1.8rem;
  }
}

.about-me-description {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(238, 228, 228);
  margin: 1.5rem;
  letter-spacing: 1.2px;
  line-height: 1.3;
}

.about-me-content {
  margin-bottom: 2rem;
}

.about-me-profile {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  width: 50%;
  margin-left: 15rem;
}

@media only screen and (max-width: 1050px) {
  .about-me-profile {
    margin-left: 0;
    justify-self: center;
  }
}

@media only screen and (max-width: 900px) {
  .about-me-profile {
    grid-row: 1/2;
  }
}

.profile-img {
  width: 20rem;
  height: 23rem;
  margin: 1rem 0;
  border-radius: 5%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  margin-top: 6rem;
}

@media only screen and (min-width: 1100px) {
  .profile-img {
    margin-bottom: 2rem;
    width: 24rem;
    height: 27rem;
  }
}

@media only screen and (max-width: 900px) {
  .profile-img {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.professional-content {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-column: auto;
}
