.container-slidedown {
  background-color: #fff;
  z-index: 30;
  position: fixed;
  top: 5rem;
  right: -20rem;
  width: 20rem;
  background-color: #17171c;
  transition: all 0.4s ease-in;
  visibility: 0;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .container-slidedown {
    top: 3.5rem;
  }
}

.container-slideIn {
  transform: translateX(-20rem);
  visibility: 1;
  opacity: 1;
}

.container-slideOut {
  transform: translateX(15%);
}

.slidedown-menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style: none;
  margin-left: 2rem;
}

.menu-option {
  margin-bottom: 1.5rem;
}

.menu-option:not(:last-child) {
  border-bottom: 2px solid white;
  padding-bottom: 0.5rem;
  width: 90%;
}

.menu-option:nth-child(1) {
  margin-top: 1.5rem;
}

.slidedown-menu-link {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.link-text {
  display: inline-block;
  margin-left: 1rem;
}
