.side-menu {
  width: 5rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-color: #0f3559;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 2.5px 0;
  transition: transform 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .line {
    height: 2px;
    width: 80%;
  }
}

/* css for "X" icon */

.side-menu-open .line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 5px);
}

.side-menu-open .line:nth-child(2) {
  opacity: 0;
}

.side-menu-open .line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -5px);
}

@media only screen and (max-width: 768px) {
  .side-menu-open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .side-menu-open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
