.portfolio-section {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
  grid-template-columns: auto;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
  height: 100%;
  width: 100%;
}

.portfolio-title {
  font-size: 8rem;
  font-weight: 700;
  color: #cce5e7;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  opacity: 0.2;
}

.portfolio-projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-column: auto;
  gap: 2rem;
}

.portfolio-project-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.portfolio-project-image-1 {
  background-image: url("../../../data/images/Analytics.jpg");
}

.portfolio-project-image-2 {
  background-image: url("../../../data/images/chatApp.jpg");
}

.portfolio-project-image-3 {
  background-image: url("../../../data/images/PasswordManager.jpg");
}

.portfolio-project-image-4 {
  background-image: url("../../../data/images/Scanning-vulnerability.jpg");
}
