.portfolio-section {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-columns: auto;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
  height: 100%;
  width: 100%;
}

.portfolio-title {
  font-size: 8rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  opacity: 0.2;
}

@media only screen and (max-width: 600px) {
  .portfolio-title {
    font-size: 7rem;
  }
}

.portfolio-projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-column: auto;
  justify-items: center;
  margin: 0 10rem;
}

@media only screen and (min-width: 700px) {
  .portfolio-projects-list {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
  }
}

@media only screen and (min-width: 1100px) {
  .portfolio-projects-list {
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1300px) {
  .portfolio-projects-list {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    margin-bottom: 2rem;
  }
}

.portfolio-project-image {
  height: 85%;
  width: 100%;
}
