.portfolio-section {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
}
