.portfolio-section {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  grid-template-columns: auto;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 400px) {
  .portfolio-section {
    grid-template-rows: 1fr;
  }
}

.portfolio-title {
  font-size: 8rem;
  font-weight: 700;
  color: white;
  margin-top: 2rem;
  text-transform: uppercase;
  opacity: 0.2;
  min-width: min-content;
  justify-self: center;
  align-self: center;
}

@media only screen and (max-width: 750px) {
  .portfolio-title {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 500px) {
  .portfolio-title {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 300px) {
  .portfolio-title {
    font-size: 4rem;
  }
}

.portfolio-projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 40rem));
  grid-column: auto;
  justify-content: center;
  justify-items: center;
  margin-top: 4rem;
}

@media only screen and (max-width: 500px) {
  .portfolio-projects-list {
    grid-template-columns: 1fr;
  }
}

.portfolio-project-image {
  height: 85%;
  width: 100%;
}
