.portfolio-section {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: repeat(auto-fill, min-content, 1fr);
  grid-template-columns: auto;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
}

.portfolio-title {
  font-size: 8rem;
  font-weight: 700;
  color: #cce5e7;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  opacity: 0.2;
}

.portfolio-projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-column: auto;
  gap: 2rem;
}

.professional-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 75rem));
  grid-column: auto;
}

.profesional {
  justify-self: center;
}

.personal {
  justify-self: center;
}
