.portfolio-section {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-columns: auto;
  background: linear-gradient(to bottom, #08233c, #536575, #21214a);
  height: 100%;
  width: 100%;
}

.portfolio-title {
  font-size: 8rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 2rem;
  text-transform: uppercase;
  opacity: 0.2;
}

.portfolio-projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-column: auto;
  justify-items: center;
  margin: 0 10rem;
}

.portfolio-project-image {
  height: 85%;
  width: 100%;
}
